[Unit]
Description="Docker daemon"

[Service]
Type=notify
EnvironmentFile=/var/run/flannel/subnet.env
ExecStart=/usr/bin/docker daemon --bip=${FLANNEL_SUBNET} --mtu=${FLANNEL_MTU}

[Install]
WantedBy=multi-user.target